/* app/home/page.module.css */

/* Contenedor principal */
.homeContainer {
  display: flex;
  min-height: 100vh;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  padding: 2rem; 
}


/* Barra lateral */
.barra {
  background: #2d3b4f;
  padding: 2rem;
  width: 250px;
  min-height: 100vh;
  border-right: 2px solid #334155;
}


.barra h2 {
  margin-bottom: 1rem;
  color: #10b981;
}

.barra p {
  margin-bottom: 2rem;
  color: #a0aec0; 
}


.barra hr {
  border: none;
  border-top: 1px solid #334155;
  margin-bottom: 1.5rem;
}

.barra nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.barra nav ul li {
  margin: 15px 0;
}

.barra nav ul li a {
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.barra nav ul li a:hover {
  color: #10b981;
  background: #334155;
}

/* Contenido principal */
.main {
  flex: 1;
  padding: 2rem;
}

.main h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #10b981;
}

.input {
  width: 100%;
  padding: 0.8rem;
  background: #334155;
  border: none;
  border-radius: 0.6rem;
  color: white;
  text-align: center;
  outline: none;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  background: #10b981;
  border: none;
  border-radius: 0.7rem;
  padding: 0.9rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  background: #059669;
}

/* Lista de partidas */
.listaPartidas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

/* Tarjeta de partida */
.tarjeta {
  background: #1e293b;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 250px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.tarjeta h3 {
  margin-bottom: 0.8rem;
  color: #10b981;
}

.tarjeta p {
  margin: 0.4rem 0;
  font-size: 0.9rem;
  color: #cbd5e1;
}

/* Tarjeta botón unirse */
.tarjeta button {
  font-size: 0.9rem;
  padding: 0.6rem;
  margin-top: 0.5rem;
}
